<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="routine.fwd.service.BoardMapper">
	<resultMap type="routine.fwd.vo.ExBoardVo" id="exBoardList">
		
	</resultMap>
	
	<select id="detail" resultType="exBoardVo">
		SELECT * FROM board WHERE exb_no = ${no}
	</select>
	
	<select id="boardlist" resultMap="exBoardList">
		SELECT * FROM board WHERE b_diff = #{diff}
	</select>
	
	<select id="recent" resultType="exBoardVo">
		SELECT * FROM board WHERE b_diff = #{diff} ORDER BY exb_time DESC LIMIT 10;
	</select>
	
	<select id="allAnswer" resultType="answerVo">
		SELECT * FROM answer WHERE aexb_no = ${no} ORDER BY a_time DESC
	</select>

	<insert id="exboardInsert">
		INSERT INTO board(exb_no, exm_id, exm_name, exb_title, exb_text, b_diff) 
					VALUES ((SELECT IFNULL(MAX(exb_no) + 1, 1) FROM board CT), #{exm_id}, #{exm_name}, #{exb_title}, #{exb_text}, #{b_diff})
	</insert>
	
	<insert id="addAnswer">
		INSERT INTO answer(aexb_no, a_text, am_name)
					VALUES (#{aexb_no}, #{a_text}, #{am_name})
	</insert>
	
	<update id="lookPlus">
		UPDATE board SET exb_look = exb_look+1 WHERE exb_no = ${no}
	</update>
</mapper>