* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 10px;
}

body {
	background-color: #ffffff;
}

.total_body_div {
    width: auto;
    background-color: #ffffff;
}

main {
	margin-top: 6rem;
}

.main_wrap, .main_slider {
	margin: 0 auto;
}

.main_wrap {
	display: grid;
    grid-template-rows: 2fr 3fr;
}

.main_slider {
	box-shadow: 1rem 0.5rem 0.5rem gray;
	background-color: ivory;
	height: 30rem;
	width: 110rem;
	margin-bottom: 5rem;
}

.main_best10 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem auto;
}

.commu_recent10, .commu_qna {
	background-color: ivory;
	width: 40rem;
	box-shadow: 1rem 0.5rem 0.5rem gray;
	display: flex;
	flex-direction: column;
}

.navi_ul {
	margin-top: 0.5rem;
}

.commu_recent10 {
    margin-right: 10rem;
}

.commu_qna {
    margin-left: 10rem;
}

.navi_h2 {
	margin: 5px auto;
    font-size: 15px;
    font-weight: 700;
    color: lightslategrey;
}