* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 10px;
}

body {
	background-color: #ffffff;
}

.total_body_div {
    width: auto;
    background-color: #ffffff;
}

main {
	margin-top: 6rem;
}

.main_wrap, .main_slider {
	margin: 0 auto;
}

.main_wrap {
	display: grid;
    grid-template-rows: 2fr 3fr;
}

.main_slider, .commu_recent10, .commu_qna {
	box-shadow: 1.5rem 1.5rem 0.5rem #000;
	background-color: #222;
}

.main_slider {
	height: 30rem;
	width: 110rem;
	margin-bottom: 5rem;
}

.main_best10 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem auto;
}

.commu_recent10, .commu_qna, .h_wrap {
	display: flex;
}

.commu_recent10, .commu_qna {
	width: 40rem;
	flex-direction: column;
}

.navi_ul {
	margin-top: 0.5rem;
}

.commu_recent10 {
    margin-right: 10rem;
}

.commu_qna {
    margin-left: 10rem;
}

.navi_h2 {
	margin: 5px auto;
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
}

.recent_list {
    margin: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px dashed #fff;
}

.recent_a {
    font-size: 1.5rem;
    color: #fff;
}

.h_wrap>a {
    font-size: 2rem;
    padding: 4px;
}